<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrf.stock.dao.XjsscDataMapper">
  <resultMap id="BaseResultMap" type="com.zrf.stock.entity.XjsscData">
    <id column="id" jdbcType="VARCHAR" property="ID" />
    <result column="day" jdbcType="VARCHAR" property="DAY" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="num_w" jdbcType="INTEGER" property="numW" />
    <result column="num_q" jdbcType="INTEGER" property="numQ" />
    <result column="num_b" jdbcType="INTEGER" property="numB" />
    <result column="num_s" jdbcType="INTEGER" property="numS" />
    <result column="num_g" jdbcType="INTEGER" property="numG" />
    <result column="is_wqb" jdbcType="INTEGER" property="isWqb" />
    <result column="is_wqs" jdbcType="INTEGER" property="isWqs" />
    <result column="is_wqg" jdbcType="INTEGER" property="isWqg" />
    <result column="is_wbs" jdbcType="INTEGER" property="isWbs" />
    <result column="is_wbg" jdbcType="INTEGER" property="isWbg" />
    <result column="is_qbs" jdbcType="INTEGER" property="isQbs" />
    <result column="is_qbg" jdbcType="INTEGER" property="isQbg" />
    <result column="is_bsg" jdbcType="INTEGER" property="isBsg" />
    <result column="is_wsg" jdbcType="INTEGER" property="isWsg" />
    <result column="is_qsg" jdbcType="INTEGER" property="isQsg" />
    <result column="bsg_type" jdbcType="INTEGER" property="bsgType" />
    <result column="wx_type" jdbcType="INTEGER" property="wxType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, day, num, num_w, num_q, num_b, num_s, num_g, is_wqb, is_wqs, is_wqg, is_wbs, 
    is_wbg, is_qbs, is_qbg, is_bsg, is_wsg, is_qsg,bsg_type, wx_type, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xjssc_open_data
    where id = #{ID,jdbcType=VARCHAR}
  </select>
    <select id="selectCurrentDayNums" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xjssc_open_data
    where day like "%"#{ID}"%"
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xjssc_open_data
    where id = #{ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zrf.stock.entity.XjsscData">
    insert into xjssc_open_data (id, day, num, 
      num_w, num_q, num_b, num_s, 
      num_g, is_wqb, is_wqs, 
      is_wqg, is_wbs, is_wbg, 
      is_qbs, is_qbg, is_bsg, 
      is_wsg, is_qsg,bsg_type, wx_type, create_time
      )
    values (#{ID,jdbcType=VARCHAR}, #{DAY,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, 
      #{numW,jdbcType=INTEGER}, #{numQ,jdbcType=INTEGER}, #{numB,jdbcType=INTEGER}, #{numS,jdbcType=INTEGER}, 
      #{numG,jdbcType=INTEGER}, #{isWqb,jdbcType=INTEGER}, #{isWqs,jdbcType=INTEGER}, 
      #{isWqg,jdbcType=INTEGER}, #{isWbs,jdbcType=INTEGER}, #{isWbg,jdbcType=INTEGER}, 
      #{isQbs,jdbcType=INTEGER}, #{isQbg,jdbcType=INTEGER}, #{isBsg,jdbcType=INTEGER},
      #{isWsg,jdbcType=INTEGER}, #{bsgType,jdbcType=INTEGER},
      #{wxType,jdbcType=INTEGER},#{isQsg,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zrf.stock.entity.XjsscData">
    insert into xjssc_open_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        id,
      </if>
      <if test="DAY != null">
        day,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="numW != null">
        num_w,
      </if>
      <if test="numQ != null">
        num_q,
      </if>
      <if test="numB != null">
        num_b,
      </if>
      <if test="numS != null">
        num_s,
      </if>
      <if test="numG != null">
        num_g,
      </if>
      <if test="isWqb != null">
        is_wqb,
      </if>
      <if test="isWqs != null">
        is_wqs,
      </if>
      <if test="isWqg != null">
        is_wqg,
      </if>
      <if test="isWbs != null">
        is_wbs,
      </if>
      <if test="isWbg != null">
        is_wbg,
      </if>
      <if test="isQbs != null">
        is_qbs,
      </if>
      <if test="isQbg != null">
        is_qbg,
      </if>
      <if test="isBsg != null">
        is_bsg,
      </if>
      <if test="isWsg != null">
        is_wsg,
      </if>
      <if test="isQsg != null">
        is_qsg,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="DAY != null">
        #{DAY,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="numW != null">
        #{numW,jdbcType=INTEGER},
      </if>
      <if test="numQ != null">
        #{numQ,jdbcType=INTEGER},
      </if>
      <if test="numB != null">
        #{numB,jdbcType=INTEGER},
      </if>
      <if test="numS != null">
        #{numS,jdbcType=INTEGER},
      </if>
      <if test="numG != null">
        #{numG,jdbcType=INTEGER},
      </if>
      <if test="isWqb != null">
        #{isWqb,jdbcType=INTEGER},
      </if>
      <if test="isWqs != null">
        #{isWqs,jdbcType=INTEGER},
      </if>
      <if test="isWqg != null">
        #{isWqg,jdbcType=INTEGER},
      </if>
      <if test="isWbs != null">
        #{isWbs,jdbcType=INTEGER},
      </if>
      <if test="isWbg != null">
        #{isWbg,jdbcType=INTEGER},
      </if>
      <if test="isQbs != null">
        #{isQbs,jdbcType=INTEGER},
      </if>
      <if test="isQbg != null">
        #{isQbg,jdbcType=INTEGER},
      </if>
      <if test="isBsg != null">
        #{isBsg,jdbcType=INTEGER},
      </if>
      <if test="isWsg != null">
        #{isWsg,jdbcType=INTEGER},
      </if>
      <if test="isQsg != null">
        #{isQsg,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrf.stock.entity.XjsscData">
    update xjssc_open_data
    <set>
      <if test="DAY != null">
        day = #{DAY,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="numW != null">
        num_w = #{numW,jdbcType=INTEGER},
      </if>
      <if test="numQ != null">
        num_q = #{numQ,jdbcType=INTEGER},
      </if>
      <if test="numB != null">
        num_b = #{numB,jdbcType=INTEGER},
      </if>
      <if test="numS != null">
        num_s = #{numS,jdbcType=INTEGER},
      </if>
      <if test="numG != null">
        num_g = #{numG,jdbcType=INTEGER},
      </if>
      <if test="isWqb != null">
        is_wqb = #{isWqb,jdbcType=INTEGER},
      </if>
      <if test="isWqs != null">
        is_wqs = #{isWqs,jdbcType=INTEGER},
      </if>
      <if test="isWqg != null">
        is_wqg = #{isWqg,jdbcType=INTEGER},
      </if>
      <if test="isWbs != null">
        is_wbs = #{isWbs,jdbcType=INTEGER},
      </if>
      <if test="isWbg != null">
        is_wbg = #{isWbg,jdbcType=INTEGER},
      </if>
      <if test="isQbs != null">
        is_qbs = #{isQbs,jdbcType=INTEGER},
      </if>
      <if test="isQbg != null">
        is_qbg = #{isQbg,jdbcType=INTEGER},
      </if>
      <if test="isBsg != null">
        is_bsg = #{isBsg,jdbcType=INTEGER},
      </if>
      <if test="isWsg != null">
        is_wsg = #{isWsg,jdbcType=INTEGER},
      </if>
      <if test="isQsg != null">
        is_qsg = #{isQsg,jdbcType=INTEGER},
      </if>
      <if test="bsgType != null">
        bsg_type = #{bsgType,jdbcType=INTEGER},
      </if>
      <if test="wxType != null">
        wx_type = #{wxType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrf.stock.entity.XjsscData">
    update xjssc_open_data
    set day = #{DAY,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      num_w = #{numW,jdbcType=INTEGER},
      num_q = #{numQ,jdbcType=INTEGER},
      num_b = #{numB,jdbcType=INTEGER},
      num_s = #{numS,jdbcType=INTEGER},
      num_g = #{numG,jdbcType=INTEGER},
      is_wqb = #{isWqb,jdbcType=INTEGER},
      is_wqs = #{isWqs,jdbcType=INTEGER},
      is_wqg = #{isWqg,jdbcType=INTEGER},
      is_wbs = #{isWbs,jdbcType=INTEGER},
      is_wbg = #{isWbg,jdbcType=INTEGER},
      is_qbs = #{isQbs,jdbcType=INTEGER},
      is_qbg = #{isQbg,jdbcType=INTEGER},
      is_bsg = #{isBsg,jdbcType=INTEGER},
      is_wsg = #{isWsg,jdbcType=INTEGER},
      is_qsg = #{isQsg,jdbcType=INTEGER},
      bsg_type = #{bsgType,jdbcType=INTEGER},
      wx_type = #{wxType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{ID,jdbcType=VARCHAR}
  </update>
  
  <select id="getBzList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select a.day,b.is_wqb,b.is_wqs,b.is_wqg,b.is_wbs,b.is_wbg,b.is_wsg,b.is_qbs,b.is_qbg,b.is_qsg,b.is_bsg from cqssc_day a left join (select substr(day,1,8) day,sum(if(is_wqb=2,1,0)) is_wqb,sum(if(is_wqs=2,1,0)) is_wqs,sum(if(is_wqg=2,1,0)) is_wqg,
		sum(if(is_wbs=2,1,0)) is_wbs,sum(if(is_wbg=2,1,0)) is_wbg,sum(if(is_wsg=2,1,0)) is_wsg,sum(if(is_qbs=2,1,0)) is_qbs,sum(if(is_qbg=2,1,0)) is_qbg,sum(if(is_qsg=2,1,0)) is_qsg,
		sum(if(is_bsg=2,1,0)) is_bsg,sum(IF(wx_type = 3, 1, 0)) wx_type,sum(IF(wx_type = 4, 1, 0)) bsg_type
		from xjssc_open_data group by substr(day,1,8)) b
		on a.day = b.day
		order by a.day desc
  </select>

  <select id="getAllData"  resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
		from xjssc_open_data where wx_type is null;
  </select>
</mapper>